@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #171A1FFF;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    background: #171A1FFF;
    z-index: 9999;
}

.nav-logo {
    cursor: pointer;
    height: 48px;
}

.logo {
    width: 100%;
    height: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-weight: bolder;
    font-size: 18px;
    padding-left: 8rem;
}

.nav-link {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    height: 50px;
}

.nav-link:hover {
    color: #636AE8FF;
    font-weight: bolder;
    border-bottom: 2px solid #636AE8FF;
}

.nav-link.active {
    color: #636AE8FF;
    font-weight: bold;
    border-bottom: 2px solid #636AE8FF;
}

.nav-button {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.button-get {
    width: 120px;
    height: 36px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    color: #FFFFFFFF;
    background: #636AE8FF;
    opacity: 1;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

.button-get:hover {
    background: #4850E4FF;
}

.button-hire {
    width: 100px;
    height: 36px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    color: #FFFFFFFF;
    background: #00A300;
    opacity: 1;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

.button-hire:hover {
    background: #007500;
}

.hamburger-icon {
    font-size: 36px;
    cursor: pointer;
    display: none;
    color: #636AE8FF;
}

.side-nav {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}


.side-nav.open {
    right: 0;
}

.side-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    gap: 10px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}


.side-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    font-weight: bolder;
    font-size: 20px;
}

.side-link {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    height: 50px;
}

.side-link:hover {
    color: #636AE8FF;
    font-weight: bolder;
    border-bottom: 2px solid #636AE8FF;
}

.side-link.active {
    color: #636AE8FF;
    font-weight: bold;
    border-bottom: 2px solid #636AE8FF;
}

.side-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.side-get {
    width: 100%;
    height: 48px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    color: #FFFFFFFF;
    background: #636AE8FF;
    opacity: 1;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

.side-get:hover {
    background: #4850E4FF;
}

.side-hire {
    width: 80%;
    height: 48px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    color: #FFFFFFFF;
    background: #00A300;
    opacity: 1;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

.side-hire:hover {
    background: #007500;
}

.container-one {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 120px 0 120px;
    width: 100%;
    height: 600px;
    background: #171A1FFF;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 356px;
    background: rgb(38, 43, 50);
    border-radius: 6px;
}

.heading {
    cursor: pointer;
    font-family: "Archivo";
    font-size: 48px;
    line-height: 68px;
    font-weight: bolder;
    color: #636AE8FF;
}

.description {
    cursor: pointer;
    font-family: "Inter";
    font-size: 18px;
    line-height: 28px;
    font-weight: bolder;
    padding-bottom: 20px;
    color: #DEE1E6FF;
}

.button-download {
    height: 52px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 28px;
    font-weight: bolder;
    color: #FFFFFFFF;
    background: #636AE8FF;
    opacity: 1;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.button-download:hover {
    color: #FFFFFFFF;
    background: #4850E4FF;
}

.container-two {
    display: flex;
    width: 100%;
    gap: 100px;
    padding: 0 120px 60px 120px;
    background: #171A1FFF;
}

.text-about {
    width: 100%;
}

.heading-about {
    cursor: pointer;
    font-family: "Inter";
    font-size: 48px;
    line-height: 84px;
    font-weight: bolder;
    color: #DEE1E6FF;
    text-align: left;
}

.about-heading {
    cursor: pointer;
    padding-top: 20px;
    text-align: left;
    font-family: "Inter";
    font-size: 24px;
    line-height: 28px;
    font-weight: bolder;
    color: #DEE1E6FF;
}

.about-details {
    padding-top: 20px;
    cursor: pointer;
    text-align: left;
    font-family: "Inter";
    font-size: 16px;
    font-weight: bolder;
    line-height: 22px;
    color: rgb(214, 214, 214);
}

.line {
    display: block;
    width: 100%;
    height: 2px;
    font-weight: bolder;
    background-color: rgb(214, 214, 214);
    margin: 20px 0;
}

.floating-box {
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: float 4s ease-in-out infinite;
}

.icon-logo {
    font-size: 100px;
    cursor: pointer;
}

@keyframes float {

    0%,
    100% {
        transform: translatex(0);
    }

    50% {
        transform: translatex(-40px);
    }
}

.container-three {
    width: 100%;
    padding: 0 120px 60px 120px;
    background: #171A1FFF;
}

.heading-service {
    cursor: pointer;
    padding-bottom: 40px;
    font-family: "Inter";
    font-size: 48px;
    line-height: 84px;
    font-weight: bolder;
    color: #DEE1E6FF;
    text-align: center;
}

.service-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.services {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    background: rgb(38, 43, 50);
    border-radius: 6px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;
    animation: updown 4s ease-in-out infinite;
}


@keyframes updown {

    0%,
    100% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(-20px);
    }
}

.services-s {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    width: 100%;
    background: rgb(38, 43, 50);
    border-radius: 6px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;
    animation: downup 4s ease-in-out infinite;
}

@keyframes downup {

    0%,
    100% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(20px);
    }
}

.service-title {
    font-family: "Inter";
    line-height: 22px;
    font-weight: bolder;
    color: #DEE1E6FF;
}

.service-description {
    font-size: 14px;
    font-weight: bolder;
    color: rgb(153, 153, 153);
}

.s-description {
    font-size: 14px;
    font-weight: bolder;
    color: rgb(199, 199, 199);
}

.service-image {
    width: 100%;
    height: 180px;
    border-radius: 6px;
}

.service-button {
    height: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
    font-size: 18px;
    line-height: 28px;
    font-weight: bolder;
    color: #FFFFFFFF;
    background: #636AE8FF;
    opacity: 1;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.service-button:hover {
    background: #4850E4FF;
}

.container-four {
    width: 100%;
    padding: 0 120px 60px 120px;
    background: #171A1FFF;
}

.heading-project {
    cursor: pointer;
    padding-bottom: 20px;
    font-family: "Inter";
    font-size: 48px;
    line-height: 84px;
    font-weight: bolder;
    color: #DEE1E6FF;
    text-align: center;
}

.project-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    gap: 20px;
    padding: 20px 0;
}


.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex: 1 1 calc(33.33% - 20px);
    padding: 10px;
    gap: 20px;
    width: 100%;
    min-height: 400px;
    background: rgb(38, 43, 50);
    border-radius: 6px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;
    transition: transform 0.3s ease;
}

.projects:hover {
    cursor: pointer;
    transform: scale(1.05);
}


.project-text {
    font-family: "Inter";
    font-size: 20px;
    line-height: 22px;
    font-weight: bolder;
    color: #FFFFFF;
}

.project-image {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.project-details {
    font-size: 14px;
    font-weight: bolder;
    color: rgb(153, 153, 153);
}

.project-date {
    font-size: 14px;
    font-weight: bolder;
    color: rgb(153, 153, 153);
}

.project-technologies {
    font-size: 14px;
    font-weight: bolder;
    color: rgb(153, 153, 153);
}

.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button-live {
    width: 120px;
    height: 36px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    color: #FFFFFFFF;
    background: #00A300;
    opacity: 1;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

.button-live:hover {
    background: #007500;
}

.button-code {
    width: 120px;
    height: 36px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
    color: #FFFFFFFF;
    background: #636AE8FF;
    opacity: 1;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

.button-code:hover {
    background: #4850E4FF;
}

.container-five {
    width: 100%;
    padding: 0 120px 60px 120px;
    background: #171A1FFF;
}

.hire-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 40px 0;
    background: rgb(38, 43, 50);
    border-radius: 6px;
}

.description-hire {
    cursor: pointer;
    font-family: "Inter";
    font-size: 36px;
    line-height: 28px;
    font-weight: bolder;
    padding-bottom: 20px;
    color: #DEE1E6FF;
}

.hire-button {
    height: 48px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
    font-size: 18px;
    line-height: 28px;
    font-weight: bolder;
    color: #FFFFFFFF;
    background: #636AE8FF;
    opacity: 1;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.hire-button:hover {
    color: #FFFFFFFF;
    background: #4850E4FF;
}

.container-six {
    width: 100%;
    padding: 0 120px 60px 120px;
    background: #171A1FFF;
}

.contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgb(38, 43, 50);
    border-radius: 6px;
}

.detail-contact {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    width: 100%;
    padding: 20px 40px;
}

.heading-contact {
    cursor: pointer;
    font-family: "Inter";
    font-size: 48px;
    line-height: 84px;
    font-weight: bolder;
    color: #DEE1E6FF;
}

.contact-heading {
    cursor: pointer;
    padding-top: 10px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 28px;
    font-weight: bolder;
    color: #DEE1E6FF;
}

.contact-input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding: 0px 16px;
    font-family: "Inter";
    font-size: 16px;
    line-height: 26px;
    font-weight: bolder;
    background: #FFFFFFFF;
    border-radius: 16px;
    border-width: 1px;
    border-color: #BCC1CAFF;
    border-style: solid;
    outline: none;
}

.contact-text {
    resize: none;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    padding-left: 16px;
    padding-top: 10px;
    font-family: "Inter";
    font-size: 16px;
    line-height: 26px;
    font-weight: bolder;
    background: #FFFFFFFF;
    border-radius: 16px;
    border-width: 1px;
    border-color: #BCC1CAFF;
    border-style: solid;
    outline: none;
}

.contact-image {
    width: 100%;
    height: 100%;
    min-height: 600px;
    min-width: 400px;
    border-radius: 0px 6px 6px 0px;
}

.button-contact {
    height: 48px;
    margin-top: 20px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 28px;
    font-weight: bolder;
    color: #FFFFFFFF;
    background: #636AE8FF;
    opacity: 1;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.button-contact .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #00A300;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.error {
    position: fixed;
    top: 80px;
    right: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 28px;
    font-weight: bolder;
    color: #FFFFFFFF;
    background: #636AE8FF;
    border-radius: 6px 0 0 6px;
    padding: 10px;
    opacity: 1;
    cursor: pointer;
    z-index: 1000;
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 60px 120px 20px 120px;
    background: rgb(38, 43, 50);
}

.footer-logo {
    cursor: pointer;
    width: 350px;
    height: 100px;
}

.logo-footer {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.footer-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer-change {
    width: 180px;
}

.footer-description {
    cursor: pointer;
    padding-top: 10px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 28px;
    font-weight: bolder;
    color: #DEE1E6FF;
}

.footer-icons {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 28px;
    line-height: 28px;
    font-weight: bolder;
    gap: 10px;
}

.p-info {
    cursor: pointer;
    font-family: "Inter";
    font-size: 32px;
    line-height: 40px;
    font-weight: bolder;
    color: #DEE1E6FF;
}

.footer-info {
    cursor: pointer;
    font-family: "Inter";
    font-size: 14px;
    line-height: 18px;
    font-weight: bolder;
    color: rgb(153, 153, 153);
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .nav-links {
        padding-left: 4rem;
    }

    .container-one {
        padding: 60px 40px 0 40px;
    }

    .box {
        width: 90%;
        /* Adjust width */
        height: 320px;
        /* Adjust height */
    }

    .heading {
        font-size: 40px;
    }

    .description {
        font-size: 16px;
    }

    .button-download {
        font-size: 16px;
    }

    .container-two {
        padding: 0 60px 60px 60px;
    }

    .heading-about {
        font-size: 40px;
    }

    .about-heading {
        font-size: 22px;
    }

    .about-details {
        font-size: 14px;
    }

    .floating-box {
        flex-direction: row;
        gap: 20px;
    }

    .icon {
        width: 80px;
        height: 80px;
    }

    .icon-logo {
        font-size: 80px;
    }

    .container-three {
        padding: 0 60px 60px 60px;
    }

    .heading-service {
        font-size: 40px;
    }

    .service-box {
        gap: 20px;
    }

    .services,
    .services-s {
        width: 80%;
    }

    .container-four {
        padding: 0 60px 60px 60px;
    }

    .heading-project {
        font-size: 40px;
        line-height: 60px;
    }

    .project-box {
        gap: 30px;
    }

    .projects {
        padding: 15px;
        gap: 15px;
    }

    .project-text {
        font-size: 18px;
    }

    .project-details,
    .project-date,
    .project-technologies {
        font-size: 13px;
    }

    .button-live,
    .button-code {
        width: 110px;
        height: 32px;
        font-size: 14px;
    }

    .container-five,
    .container-six {
        padding: 0 60px 60px 60px;
    }

    .description-hire {
        font-size: 30px;
        line-height: 40px;
    }

    .hire-button {
        height: 40px;
        padding: 0 18px;
        font-size: 16px;
    }

    .hire-box {
        padding: 30px 0;
        gap: 15px;
    }

    .heading-contact {
        font-size: 40px;
        line-height: 60px;
    }

    .contact-heading {
        font-size: 16px;
        line-height: 24px;
    }

    .contact-input,
    .contact-text {
        font-size: 14px;
    }

    .button-contact {
        height: 40px;
        padding: 0 35px;
        font-size: 16px;
    }

    .footer-box {
        padding: 40px 80px 20px 80px;
    }

    .footer-description {
        font-size: 16px;
        line-height: 24px;
    }

    .footer-icons {
        font-size: 24px;
    }
}

@media (max-width: 1024px) {
    .nav-links {
        padding-left: 0rem;
    }

    .container-four {
        padding: 0 60px 60px 60px;
    }

    .heading-project {
        font-size: 36px;
        line-height: 50px;
    }

    .project-box {
        gap: 25px;
    }

    .projects {
        padding: 10px;
        gap: 10px;
    }

    .project-text {
        font-size: 16px;
    }

    .project-details,
    .project-date,
    .project-technologies {
        font-size: 12px;
    }

    .button-live,
    .button-code {
        width: 100px;
        height: 30px;
        font-size: 13px;
    }

    .container-five,
    .container-six {
        padding: 0 60px 60px 60px;
    }

    .description-hire {
        font-size: 28px;
    }

    .hire-button {
        height: 40px;
        padding: 0 18px;
        font-size: 14px;
    }

    .hire-box {
        padding: 20px 0;
        gap: 10px;
    }

    .heading-contact {
        font-size: 36px;
    }

    .footer-box {
        padding: 40px 60px 20px 60px;
    }

    .footer-description {
        font-size: 14px;
    }
}

@media (max-width: 859px) {
    .hamburger-icon {
        display: block;
    }

    .nav-links {
        display: none;
        /* Hide normal nav links */
    }

    .nav-button {
        display: none;
        /* Hide normal nav buttons */
    }

    .contact-box {
        flex-direction: column;
    }

    .contact-heading {
        text-align: left;
    }

    .detail-contact {
        order: 1;
        align-items: normal;
        padding: 20px 20px;
    }

    .contact-image {
        min-height: 0px;
        max-height: 350px;
        border-radius: 6px 6px 0px 0px;
    }

    .button-contact {
        width: fit-content;
    }

    .container-two {
        flex-direction: column;
        gap: 40px;
    }

    .icon {
        animation: float 4s ease-in-out infinite;
    }

    @keyframes float {

        0%,
        100% {
            transform: translatey(0);
        }

        50% {
            transform: translatey(-40px);
        }
    }

    .heading-about {
        font-size: 36px;
        text-align: center;
    }

    .about-heading {
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
    }

    .footer-details {
        flex-direction: column;
        gap: 20px;
    }

    .footer-change {
        display: none;
    }
}

@media (max-width: 768px) {
    .container-one {
        padding: 140px 40px 60px 40px;
        height: auto;
    }

    .box {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .heading {
        font-size: 36px;
    }

    .description {
        font-size: 16px;
    }

    .button-download {
        font-size: 16px;
    }

    .container-two {
        padding: 0 20px 60px 20px;
    }

    .heading-about {
        font-size: 36px;
    }

    .about-heading {
        font-size: 20px;
    }

    .about-details {
        font-size: 14px;
    }

    .floating-box {
        flex-direction: row;
        gap: 15px;
    }

    .icon {
        width: 70px;
        height: 70px;
    }

    .icon-logo {
        font-size: 70px;
    }


    .container-three {
        padding: 0 40px 60px 40px;
    }

    .heading-service {
        font-size: 36px;
    }

    .service-box {
        flex-direction: column;
        gap: 10px;
    }

    .services-s {
        width: 100%;
        animation: downup 4s ease-in-out infinite;
    }

    .services {
        width: 100%;
        animation: updown 4s ease-in-out infinite;
    }


    @keyframes updown {

        0%,
        100% {
            transform: translatex(0);
        }

        50% {
            transform: translatex(-20px);
        }
    }

    @keyframes downup {

        0%,
        100% {
            transform: translatex(0);
        }

        50% {
            transform: translatex(20px);
        }
    }

    .service-title {
        font-size: 18px;
    }

    .service-description {
        font-size: 12px;
    }

    .s-description {
        font-size: 12px;
    }

    .service-image {
        height: 150px;
    }

    .service-button {
        font-size: 16px;
    }

    .container-four {
        padding: 0 20px 60px 20px;
    }

    .heading-project {
        font-size: 36px;
        line-height: 40px;
    }

    .project-box {
        gap: 20px;
    }

    .projects {
        padding: 10px;
        gap: 10px;
    }

    .project-text {
        font-size: 14px;
    }

    .project-details,
    .project-date,
    .project-technologies {
        font-size: 11px;
    }

    .button-live,
    .button-code {
        width: 100px;
        height: 28px;
        font-size: 12px;
    }

    .container-five,
    .container-six {
        padding: 0 20px 60px 20px;
    }

    .description-hire {
        font-size: 24px;
    }

    .hire-button {
        height: 38px;
        padding: 0 16px;
        font-size: 14px;
    }

    .hire-box {
        padding: 15px 0;
        gap: 8px;
    }

    .heading-contact {
        font-size: 36px;
    }

    .footer-box {
        padding: 30px 40px 20px 40px;
    }

    .footer-description {
        font-size: 13px;
    }

    .footer-icons {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 0 10px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        column-gap: 15px;
    }

    .nav-link {
        font-size: 14px;
    }

    .container-one {
        padding: 140px 20px 60px 20px;
    }

    .box {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .heading {
        font-size: 32px;
    }

    .description {
        font-size: 14px;
    }

    .button-download {
        font-size: 14px;
    }

    .container-two {
        padding: 0 20px 40px 20px;
    }

    .about-heading {
        font-size: 18px;
    }

    .about-details {
        font-size: 12px;
    }

    .floating-box {
        gap: 10px;
    }

    .icon {
        width: 60px;
        height: 60px;
    }

    .icon-logo {
        font-size: 60px;
    }


    .container-three {
        padding: 0 20px 40px 20px;
    }

    .service-box {
        flex-direction: column;
        gap: 20px;
    }

    .services,
    .services-s {
        width: 100%;
    }

    .service-title {
        font-size: 16px;
    }

    .service-description {
        font-size: 12px;
    }

    .s-description {
        font-size: 12px;
    }

    .service-image {
        height: 120px;
    }

    .service-button {
        font-size: 14px;
    }

    .container-four {
        padding: 0 20px 40px 20px;
    }

    .project-box {
        gap: 15px;
    }

    .projects {
        padding: 10px;
        gap: 8px;
    }

    .project-text {
        font-size: 14px;
    }

    .project-details,
    .project-date,
    .project-technologies {
        font-size: 10px;
    }

    .button-live,
    .button-code {
        width: 90px;
        height: 26px;
        font-size: 12px;
    }

    .container-five,
    .container-six {
        padding: 0 20px 60px 20px;
    }

    .description-hire {
        font-size: 20px;
    }

    .hire-button {
        height: 36px;
        padding: 0 14px;
        font-size: 12px;
    }

    .hire-box {
        padding: 10px 0;
        gap: 5px;
    }


    .footer-box {
        padding: 20px 20px 20px 20px;
    }

    .footer-description {
        font-size: 12px;
    }

    .footer-icons {
        font-size: 20px;
    }

    .contact-image {
        min-width: 200px;
    }

}

@media (max-width: 349px) {
    .navbar {
        padding: 0 8px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        column-gap: 10px;
    }

    .nav-link {
        font-size: 12px;
    }

    .container-one {
        padding: 15px;
    }

    .box {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .heading {
        font-size: 28px;
    }

    .description {
        font-size: 12px;
    }

    .button-download {
        font-size: 12px;
    }

    .container-two {
        padding: 0 15px 30px 15px;
    }

    .about-heading {
        font-size: 16px;
    }

    .about-details {
        font-size: 10px;
    }

    .floating-box {
        flex-direction: column;
        gap: 8px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .icon-logo {
        font-size: 40px;
    }


    .container-three {
        padding: 0 15px 30px 15px;
    }

    .service-box {
        flex-direction: column;
        gap: 15px;
    }

    .services,
    .services-s {
        width: 100%;
    }

    .service-title {
        font-size: 14px;
    }

    .service-description {
        font-size: 10px;
    }

    .s-description {
        font-size: 10px;
    }

    .service-image {
        height: 100px;
    }

    .service-button {
        font-size: 12px;
    }

    .container-four {
        padding: 0 15px 40px 15px;
    }

    .project-box {
        gap: 10px;
    }

    .projects {
        padding: 8px;
        gap: 6px;
    }

    .project-text {
        font-size: 12px;
    }

    .project-details,
    .project-date,
    .project-technologies {
        font-size: 8px;
    }

    .button-live,
    .button-code {
        width: 80px;
        height: 24px;
        font-size: 12px;
    }

    .container-five,
    .container-six {
        padding: 0 15px 40px 15px;
    }

    .description-hire {
        font-size: 18px;
    }

    .hire-button {
        height: 30px;
        padding: 0 12px;
        font-size: 10px;
    }

    .hire-box {
        padding: 8px 0;
        gap: 4px;
    }

    .footer-box {
        padding: 15px 15px 15px 15px;
    }

    .footer-description {
        font-size: 10px;
    }

    .footer-icons {
        font-size: 18px;
    }
}